:root{
    background-color: transparent;
    --transition: 0.5s;
    --size-config: 30vw;
}
body{
    background-color:transparent;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}

#app{
    height: 100vh;
    width: 100vw;
    background-color: tomato;
    transition: var(--transition);
}
#config{
    height: 100vh;
    width: var(--size-config);
    background-color: #343434;
    display: flex;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    right: calc(-1 * var(--size-config));
    transition: var(--transition);
}
#config-drag{
    position: fixed;
    height: 100vh;
    width: 10px;
    cursor: ew-resize;
    background-color: #343434;
    transition: var(--transition);
}
#content{
    margin-left: 10px;
}
#config-drag:hover{
    background-color: #555;
}
#config::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
#config::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #343434;
}

#config::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #ffffff;
}


body.config-open #app{
    width: calc(100vw - var(--size-config));
}
body.config-open #config{
    right: 0;
}



#buttonBar{
    display: flex;
    justify-content: center;
    position: absolute;
    top: -50px;
    right: 0;
    height: 50px;
    transition: var(--transition);
}
body.config-open #buttonBar{
    right: var(--size-config);
}

#buttonBar div{
    background-color: white;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 50%;
    z-index: 10;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 0px 0px rgb(133, 133, 133);
    transition: var(--transition);
}
#buttonBar div svg{
    transition: var(--transition);
}

#buttonBar div:hover{
    box-shadow: 0px 0px 0px 0px;
    transform: translate(3px, 3px);
}
#buttonBar div:hover svg{
    transform: rotate(360deg);
}
body:hover #buttonBar{
    top: 0;
}





